
<section class="social">
  <ul class="sociallist">
    <li class="socialapp"><a href="{{site.twitter}}" target="_blank"><img class="socialimg" src="images/twitter.png"  alt="Twitter logo"></a></li>
    <li class="socialapp"><a href="{{site.github}}" target="_blank"><img class="socialimg" src="images/github.png" alt="Github logo"></a></li>
    <li class="socialapp"><a href="{{site.linkedin}}" target="_blank"><img class="socialimg" src="images/linkedin.png" alt="LinkedIn logo"></a></li>
  </ul>
</section>

